* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
}
.flex-items{
  background-image: url("images/download.png");
  background-size: cover ;
  background-image: linear-gradient(rgba(0,0,0,0.5));
}
.image{
  background-image: url("images/download.png");
  background-size: cover ;
  background-image: linear-gradient(rgba(0,0,0,0.5));
}

Header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.First{
  font-size: 30px;  
  display: flex;
  gap: 20px;
  margin-top: 20px;
  padding-left:2%;

}
.second{
  width: 35%;
  justify-content: center;
  height:40px;
  gap: 20PX;
  align-items: center ;
  color: black;
  margin-top: 8px;
  font-size: 25px;
  margin-left: auto;
  margin-right: 30%;
  border-radius: 10%;
  background-color: bisque;
  box-shadow: #999;
  
}
.button{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #f50707;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-top: 30px;
  margin-left: 30px;
  
}
.button:hover {background-color: #ee3c05}

.button:active {
  background-color: #f14107;
  box-shadow: 0 5px #f10707;
  transform: translateY(4px);
}

.flex-items {
  display: flex;
  width: 100%;
  color: bisque;
}

.flex-items2 {

  justify-content: flex-end;
  gap: 2px;
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: 100;
  font-family: 'Times New Roman', Times, serif;
  
}
a:hover {
  color: red;
}